/* Linear Gradiant for Box 1*/
#box1 {
	position: absolute;
    width: 5%;
    height: 8rem;
    background: linear-gradient(to right, red , green);
    text-align: center;
    padding-left: 45px;
    margin-bottom: 25px;
    margin-left: 33%;
} 

/* Radial Gradiant for Box 2 - Shape - Circle */
#box2 {
    position: absolute;
    width: 5%;
    height: 8rem;
    background: radial-gradient(circle farthest-corner at 50% -10%, red, yellow, green);
    text-align: center;
    padding-left: 45px;
    margin-bottom: 25px;
    margin-left: 44%;
} 

/* Radial Gradiant for Box 3 - By Default the shape is ellipse */
#box3 {
	position: absolute;
    width: 5%;
    height: 8rem;
    background : radial-gradient(farthest-corner at 50% 1%, red, yellow, green);
    text-align: center;
    padding-left: 45px;
    margin-bottom: 25px;
    margin-left: 55%;
} 

/* Style for the Text */
.textStyle{
	color: black;
	position: absolute;
	bottom: 50%;
	left: 44%;
}
